<ul>
  <li>
    {{#link-to "peliculas.alta.index"}}Alta de películas{{/link-to}}<
  </li>
  <li>
    {{#link-to "peliculas.listado.index"}}Listado de películas{{/link-to}}<
  </li>
</ul>

<p>
  Películas en catálogo: {{model.length}}
</p>
